#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  jackett:
    image: lscr.io/linuxserver/jackett:{{ jackett_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - PUID={{ jackett_puid }}
      - PGID={{ jackett_pgid }}
      - TZ={{ timezone | default('UTC') }}

    volumes:
      - ./config:/config
      - {{ jackett_download_dir }}:/downloads

    labels:
      {{ traefik_project_base_labels | indent(6) }}
      {{ docker_project_service_additional_labels | indent(6) }}

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:{{ jackett_flaresolverr_version }}
    container_name: flaresolverr
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ jackett_flaresolverr_service_additional_options | indent(4) }}

    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ={{ timezone | default('UTC') }}

    {% if jackett_flaresolverr_service_additional_labels %}
    labels:
      {{ jackett_flaresolverr_service_additional_labels | indent(6) }}
    {% endif %}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
